@using RadiocomDataViewApp.Objects.Dto

@page "/artistworks/{AlphaChar?}"
<h3>Songs</h3>

@if (artistWorks != null)
{
<ListComponent TItem="ArtistWorkDisplay" Items="artistWorks" ListItemHrefGenerator="HrefGenerator" />
}
else {
<p>Loading</p>
		}