@using RadiocomDataViewApp.Objects.Dto

@page "/artistworks/{AlphaChar?}"
<h3>Songs</h3>


<ListComponent TItem="ArtistWorkDisplay" Items="@RadiocomArtistWorkRepository.GetArtistWorks().Select(x=> new ArtistWorkDisplay(x)).OrderBy(x => x.Name)" ListItemHrefGenerator="HrefGenerator" />