@page "/artist/{ArtistId:int}"
@using RadiocomDataViewApp.Components.ArtistCharts;

<h3>Artist: </h3>
<Row>
	<Column Class="col-md-8 col-sm-12 pb-1 pb-sm-0">
		<TopPlayedArtistSongsChart ArtistId="@ArtistId" />
	</Column>
</Row>

