@using RadiocomDataViewApp.Objects.Dto

@page "/artists/{AlphaChar?}"
<h3>Artists</h3>

@if (artists != null)
{
	<ListComponent TItem="ArtistInfo" Items="artists" ListItemHrefGenerator="HrefGenerator" />
}
else
{
	<p>Loading</p >
}
