@page "/"
@namespace RadiocomDataViewApp.Pages
@inject IJSRuntime JSRuntime;
@inject EnvironmentService env;
@inject NavigationManager NavManager;
@inject IRadiocomDataAggregateDataClient RadiocomDataAggregateDataClient ;
@using RadiocomDataViewApp.Components.IndexCharts;

	<div class="row">
		<div class="col-md-6 col-sm-12 p-4">
			@**@
			dasdfasfasfdsa

			<Row>
				<Column>
					
					<TopPlayedSongsChart />
				</Column>
				<Column>
					<TopPlayedArtistsChart />



					@*<CascadingValue Value="@HeaderButtonConfigs" Name="HeaderButtonConfigs">
							<DashboardChartComponent @ref="TopPlayedSongsChart"
													 YAxisLabel="YLabel"
													 GenerateChartDatas="TopPlayedSongs"
													 ChartTitle="Top Played Artists"
													 OnDashboardChartElementClick="ClickBar" />
						</CascadingValue>*@

				</Column>

			</Row>

		</div>
	</div>
	<div>

		<Tooltip Text="Hello tooltip"><p>@env.IsDevelopment</p></Tooltip>
	</div>