@page "/"
@namespace RadiocomDataViewApp.Pages
@inject IJSRuntime JSRuntime;
@inject EnvironmentService env;
@inject NavigationManager NavManager;
@inject IRadiocomDataAggregateDataClient RadiocomDataAggregateDataClient ;
@using RadiocomDataViewApp.Components.IndexCharts;

	
		@*<div class="col-lg-3 col-md-6 col-sm-12 p-sm-0">*@
			@**@
			<div class="pb-5"><p>asdjfosadjf jfdios fjdsoapfjdsaif jdsiafjdisa pfdjsafpd jsaifodpsa jfidospafjd isop</p></div>
			<Row >
				<Column Class="col-lg-4 col-md-6 col-sm-12 pb-1 pb-sm-0" >
					<TopPlayedSongsChart />
				</Column>
				<Column Class="col-lg-4 col-md-6 col-sm-12 pb-1 pb-sm-0">
					<TopPlayedArtistsChart />
				</Column>
				<Column Class="col-lg-4 col-md-6 col-sm-12 pb-1 pb-sm-0" Style="display:flex;flex-direction:column;">
					<Card Style="flex:1;">
						<CardHeader Class="text-center">
							Total Unique Songs
						</CardHeader>
						<CardBody Style="display:grid;">
							<ChartComponentHeaderButtons />

							<Text Alignment="TextAlignment.Center" Class="display-4" Style="align-self:center;">
								300
							</Text>

						</CardBody>

					</Card>
					<Card Style="flex:1;">
						<CardHeader Class="text-center">
							Total Unique Songs
						</CardHeader>
						<CardBody Style="display:grid">
							<ChartComponentHeaderButtons />

							<Text Alignment="TextAlignment.Center" Class="display-4" Style="align-self:center;">
								300
							</Text>

						</CardBody>

					</Card>
					@*<Card>
			<CardHeader Class="text-center">
				Total Unique Artists
			</CardHeader>
			<CardBody>
				<ChartComponentHeaderButtons />
				<Jumbotron>
					<JumbotronTitle Class="text-center">
						300
					</JumbotronTitle>
				</Jumbotron>
			</CardBody>
		</Card>*@
				</Column>
			</Row>

		@*</div>*@
	<div>

		<Tooltip Text="Hello tooltip"><p>@env.IsDevelopment</p></Tooltip>
	</div>