@page "/"
@namespace RadiocomDataViewApp.Pages
@inject IJSRuntime JSRuntime;
@inject EnvironmentService env;
@inject NavigationManager NavManager;
@inject IRadiocomDataAggregateDataClient RadiocomDataAggregateDataClient ;
@using RadiocomDataViewApp.Components.IndexCharts;

	
		@*<div class="col-lg-3 col-md-6 col-sm-12 p-sm-0">*@
			@**@
			<div class="pb-5"><p>asdjfosadjf jfdios fjdsoapfjdsaif jdsiafjdisa pfdjsafpd jsaifodpsa jfidospafjd isop</p></div>
			<Row >
				<Column Class="col-lg-4 col-md-6 col-sm-12 pb-1 pb-sm-0" >
					<TopPlayedSongsChart />
				</Column>
				<Column Class="col-lg-4 col-md-6 col-sm-12 pb-1 pb-sm-0">
					<TopPlayedArtistsChart />
				</Column>
				<Column Class="col-lg-4 col-md-6 col-sm-12 pb-1 pb-sm-0 flex-column d-flex">					@*Style="display:flex;flex-direction:column;"*@
					<TotalUniqueSongsMetric/>
					<TotalUniqueArtistsMetric/>
					
				</Column>
			</Row>

		@*</div>*@
	<div>

		<Tooltip Text="Hello tooltip"><p>@env.IsDevelopment</p></Tooltip>
	</div>