


	<Modal @ref="Welcome" Closed="@ClosedModal">
		<ModalContent Centered="true">
			<ModalBody>
				<CloseButton Clicked="@CloseClick"></CloseButton>
				<!--!-->
				<Paragraph>
					Welcome to my music dashboard for 99.9 KISW Seattle.  This dashboard shows a break down of the artists and songs played on 99.9FM and is sourced from the recently played list at <a href="https://www.audacy.com/kisw/listen">audacy.com</a>(formerly radio.com).  The data is updated and aggregated every 4 hours or so and made available on this site. I have noticed that not every song played ends up in the recently played list so songs could be missing.
				</Paragraph>
				<Paragraph>
					The source code for the various components of the application are available on github:
				</Paragraph>
				<ul>
					<li><a href="https://github.com/czf/RadiocomDataViewApp">This UI</a> (built using <a href="https://blazorise.com/">Blazorise</a>)</li>
					<li><a href="https://github.com/czf/RadiocomDataCollector">Data Collector</a></li>
					<li><a href="https://github.com/czf/RadiocomDataAggregationEngine">Data Aggregator and Aggregated Data API</a></li>
				</ul>

				<Paragraph>
					Latest Updates

					<ul>
						<li>v1.0.2 - update blazorize version, fix for pie charts with lots of data</li>
						<li>v1.0.1 - use redirect logic from <a href="https://github.com/SteveSandersonMS/">BlazorOnGitHubPages</a></li>
						<li>v1.0 - wire up api with clients</li>
						<li>v0.1.6 - updated the things</li>

					</ul>

				</Paragraph>


			</ModalBody>
			<ModalFooter>
				<Button Color="Color.Primary" Clicked="@CloseClick">Close</Button>
			</ModalFooter>
		</ModalContent>

	</Modal>


