


	<Modal @ref="Welcome" Closed="@ClosedModal">
		<ModalContent Centered="true">
			<ModalBody>
				<CloseButton Clicked="@CloseClick"></CloseButton>
				<!--!-->
				<Paragraph>
					Welcome to my music dashboard for 99.9 KISW Seattle.  This dashboard shows a break down of the artists and songs played on 99.9FM and is sourced from the recently played list at <a href="https://www.radio.com/kisw/listen">radio.com</a>.  The data is updated and aggregated every 4 hours or so and made available on this site. I have noticed that not every song played ends up in the recently played list so songs could be missing.
				</Paragraph>
				<Paragraph>
					The source code for the various components of the application are available on github:
				</Paragraph>
				<ul>
					<li><a href="https://github.com/czf/RadiocomDataViewApp">This UI</a> (built using <a href="https://blazorise.com/">Blazorise</a>)</li>
					<li><a href="https://github.com/czf/RadiocomDataCollector">Data Collector</a></li>
					<li>Data Aggregator</li>
					<li>Aggregated Data API</li>
				</ul>

				<Paragraph>
					Latest Updates

					<ul>
						<li>v0.1.6 - updated the things</li>
						<li>v0.1.5 - updated the things</li>
						<li>v0.1.4 - updated the things</li>
						<li>v0.1.3 - updated the things</li>
						<li>v0.1.2 - updated the things</li>
						<li>v0.1.1 - updated the things</li>
						<li>v0.1.0 - updated the things</li>
					</ul>

				</Paragraph>


			</ModalBody>
			<ModalFooter>
				<Button Color="Color.Primary" Clicked="@CloseClick">Close</Button>
			</ModalFooter>
		</ModalContent>

	</Modal>


