
@if (HeaderButtonConfigs != null && HeaderButtonConfigs.Any())
{
<Container Class="text-center">
	<Buttons>
		@{
			foreach (var config in HeaderButtonConfigs)
			{
				<Button Color="@config.ButtonColor" Active="@config.Active"  Loading="@config.Loading" @onclick="async (t) => { await InvokeButtonStateEvent(t, config.ButtonClickCallback, config); }">@config.Text</Button>
			}
		}
	</Buttons>
	<br />
	<Button Color="Color.Secondary" Active="true">test</Button>
	<br />
	<Button Color="Color.Secondary" Active="false">test2</Button>
</Container>

}

