<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules />
    <handlers>
      <add name="aspnetcore" path="*" verb="*" modules="AspNetCoreModule" />
    </handlers>
    <aspNetCore stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" processPath="dotnet" arguments="c:\users\czf\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\3.2.0\build\../tools/blazor-devserver.dll serve --applicationpath C:\dev\solutions\RadiocomDataViewApp\RadiocomDataViewApp\bin\Debug\netstandard2.1" />
  </system.webServer>
  <system.web></system.web>
</configuration>