<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="..\..\..\..\Program Files\dotnet\dotnet.exe" arguments="&quot;C:\Users\czf\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\5.0.1\build\../tools/blazor-devserver.dll&quot; serve --applicationpath &quot;C:\dev\solutions\RadiocomDataViewApp\RadiocomDataViewApp\bin\Debug\net5.0\RadiocomDataViewApp.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="NO_PROXY" value="dev.radiocomview.com" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>