<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules />
    <handlers>
      <add name="aspnetcore" path="*" verb="*" modules="AspNetCoreModule" />
    </handlers>
    <aspNetCore stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" />
  </system.webServer>
  <system.web></system.web>
</configuration>