@inherits LayoutComponentBase

<Layout Sider="true">
	
	<NavMenu  @ref="Nav"/>
	<LayoutContent>
		<div class="main">
			<div class="top-row px-4">
				<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
			</div>
			<CascadingValue Value="ClickMenu">
				<div class="content px-4">
					@Body
				</div>
			</CascadingValue>
		</div>
	</LayoutContent>
</Layout>

@code{
		NavMenu Nav;
		[Parameter]
	public Action ClickMenu { get; set; }
	public MainLayout() {
		ClickMenu = () => { Console.WriteLine("clicked here"); Nav.MenuHamburgerClick(); };
	}
}