@inherits LayoutComponentBase

<Layout Sider="true">
	
	<LayoutSiderContentNavMenu  @ref="Nav"/>
	<Layout>
		<LayoutHeader Fixed="true">
			<Bar Class="font-weight-bold" Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
				This site is in preview.  Data is mocked.
				@*<div class="top-row px-4">
				<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
			</div>*@
			</Bar>
		</LayoutHeader>
		<LayoutContent>
			
				
				<CascadingValue Value="ClickMenu">
					<div class="content px-sm-4">
						@Body
					</div>
				</CascadingValue>
			
		</LayoutContent>
	</Layout>
</Layout>

@code{
	LayoutSiderContentNavMenu Nav;
	[Parameter]
	public Action ClickMenu { get; set; }
	public MainLayout() {
		ClickMenu = () => { Console.WriteLine("clicked here"); Nav.MenuHamburgerClick(); };

	}
}