@inherits LayoutComponentBase

<Layout Sider="true">
	
	<LayoutSiderContentNavMenu />
	<Layout>
		<LayoutHeader Fixed="true">
			<Bar Class="font-weight-bold" Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
				This site is in preview.  Data is mocked.

			</Bar>
		</LayoutHeader>
		<LayoutContent>
			
				
			<div class="content px-sm-4">
				@Body
			</div>
		<WelcomeModal/>
		</LayoutContent>
	</Layout>
</Layout>

@code{

}